# Created by https://www.gitignore.io/api/vim,macos,python,pycharm
# Edit at https://www.gitignore.io/?templates=vim,macos,python,pycharm

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Jupyter Notebook
.ipynb_checkpoints
